@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*, body{
  margin: 0;
}
body{
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: poppins;
  padding: 20px 40px;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
}
#textHeader, .cardText{
  color: hsl(229, 6%, 66%)
}
h1, h2, h3{
  color: hsl(234, 12%, 34%)
}
header{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1{
  font-weight: 200;
  font-size: 24px;
}
h1, h2{
  white-space: nowrap;
}
#textHeader{
  margin-top: 20px;
  max-width: 350px;
}
main{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: -3px 5px 15px #E0E9F2,
  3px 5px 15px #E0E9F2;
  height: 180px;
  background-color: white;
  max-width: 235px;
}
.card:nth-child(1){
  border-top: 4px solid hsl(180, 62%, 55%);
}
.card:nth-child(2){
  border-top: 4px solid hsl(0, 78%, 62%);
}
.card:nth-child(3){
  border-top: 4px solid hsl(34, 97%, 64%);
}
.card:nth-child(4){
  border-top: 4px solid hsl(212, 86%, 64%);
}
h3{
  letter-spacing: -0.5px;
}
.cardText{
  font-size: 12px;
  line-height: 25px;
}
h3, .cardText{
  margin-top: 5px;
}
img{
  width: 50px;
  float: right;
  margin-top: 30px;
}
@media screen and (min-width: 1440px) {
  header{
    margin-top: 30px;
  }
  h1, h2{
    font-size: 28px;
  }
  #textHeader{
    margin-top: 15px;
    max-width: 450px;
    font-size: 13px;
  }
  main{
    position: relative;
    width: inherit;
    margin-top: 50px;
    /* height: 80vh; */
  }
  .card{
    height: 150px;
    padding-bottom: 30px;
  }
  .cardText{
    font-size: 10px;
    line-height: 20px;
  }
  /* Could use position, or , grid, or flexbox */
  .cyan, .red, .blue, .orange{
    position: absolute;
  }
  .cyan{
    left: 260px;
    top: 110px;
  }
  .red{
    top: 0;
  }
  .orange{
    top: 230px;
  }
  .blue{
    right: 260px;
    top: 110px;
  }
  .cyan > img{
    margin-top: 45px;
  }
}
